colors:
  bg: "{{base00-hex}}"
  bg0: "{{base00-hex}}"
  bg1: "{{base01-hex}}"
  bg2: "{{base03-hex}}"
  bg3: "{{base01-hex}}"
  bg4: "{{base03-hex}}"
  fg: "{{base07-hex}}"
  fg0: "{{base07-hex}}"
  fg1: "{{base07-hex}}"
  fg2: "{{base06-hex}}"
  fg3: "{{base06-hex}}"
  fg4: "{{base06-hex}}"
  red: "{{base08-hex}}"
  alt_red: "{{base08-hex}}"
  green: "{{base0B-hex}}"
  alt_green: "{{base0B-hex}}"
  yellow: "{{base0A-hex}}"
  alt_yellow: "{{base0A-hex}}"
  blue: "{{base0D-hex}}"
  alt_blue: "{{base0D-hex}}"
  purple: "{{base0E-hex}}"
  alt_purple: "{{base0E-hex}}"
  aqua: "{{base0C-hex}}"
  alt_aqua: "{{base0C-hex}}"
  orange: "{{base09-hex}}"
  alt_orange: "{{base09-hex}}"
  gray: "{{base06-hex}}"
  alt_gray: "{{base07-hex}}"
core:
  normal_text:
    foreground: fg
    background: bg
  regular_file:
    foreground: fg
    background: bg
  reset_to_normal: {}
  directory:
    foreground: blue
  symlink:
    foreground: alt_blue
    font-style: italic
  multi_hard_link:
    font-style: bold
  fifo:
    foreground: purple
  socket:
    foreground: purple
    font-style: bold
  door:
    foreground: alt_purple
    font-style: bold
  block_device:
    foreground: yellow
    font-style: bold
  character_device:
    foreground: alt_yellow
    font-style: italic
  broken_symlink:
    foreground: alt_red
    font-style: italic
  missing_symlink_target:
    foreground: bg
    background: alt_red
  setuid:
    foreground: bg
    background: red
  setgid:
    foreground: bg
    background: orange
  file_with_capability:
    foreground: bg
    background: red
  sticky_other_writable:
    foreground: bg
    background: blue
    font-style: italic
  other_writable:
    foreground: alt_green
    font-style: bold
  sticky:
    foreground: bg
    background: blue
  executable_file:
    foreground: alt_green
    font-style: bold
text:
  special:
    foreground: alt_yellow
    font-style: bold
  todo:
    foreground: alt_green
  licenses:
    foreground: fg1
    font-style: italic
  configuration:
    foreground: alt_yellow
  other:
    foreground: fg
markup:
  foreground: yellow
programming:
  source:
    foreground: green
  tooling:
    foreground: alt_green
    font-style: italic
    continuous-integration:
      foreground: alt_blue
media:
  foreground: aqua
  video:
    foreground: alt_aqua
    font-style: bold
office:
  foreground: alt_blue
  font-style: bold
archives:
  foreground: blue
  images:
    foreground: alt_blue
    font-style: bold
executable:
  foreground: alt_green
  font-style: bold
unimportant:
  foreground: fg4
  font-style: italic
